/* listaAlumnos.module.css */
.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.centered-text {
    margin-bottom: 20px;
}

/* Asegura que la tabla sea responsive */
@media (max-width: 600px) {
    .table-container {
    width: 100%;
    overflow-x: auto;
    }
}