.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana del navegador */
    background-color: #f7f7f7; /* Color de fondo opcional */
  }

  